body{
  background-color:  #6699ff;
}
.questionOne {
  font-size: 24px;
  font-style: Helvetica;
  color: black;
}

.questionTwo {
  font-size: 24px;
  font-style: Helvetica;
  color: black;
}

.questionThree {
  font-size: 24px;
  font-style: Helvetica;
  color: black;
}

.questionFour {
  font-size: 24px;
  font-style: Helvetica;
  color: black;
}

.questionFive {
  font-size: 24px;
  font-style: Helvetica;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  /* padding: 20px; */
}

.btn {
  padding: 30px;
  font-size: 30px;
  padding-bottom: 30px;
  height: 150px;
  width: 150px;
  justify-content: center;
  border-radius: 50%;
  border: transparent;
  outline: none;
  margin-top: 10px;
}

.btn:hover {
  background: #80aaff
}

/* button highlight on click */
.active{
  background-color: #00ff00;
}

.wrongActive {
  background-color: #ff0000;
}

.img {
  margin-left: -10px;
  margin-right: auto;
}


#countdown {
  font-size: 30px;
}

.moneysign {
  font-size: 30px;
}

.next{
  font-size: 25px;
  border-radius: 18px;
  border: 1px solid black;
  outline: none;
  padding: 18px;
  margin-top: 10px;
}

.next:hover {
  background: #80aaff
}

.showAnswers{
  font-size: 25px;
  border-radius: 18px;
  border: 1px solid black;
  outline: none;
  padding: 18px;
  margin-left: 410px;
  margin-top: 10px;
}

.showAnswers:hover {
  background: #80aaff
}

#content {
  text-align: center;
  margin-top: 60px;
}

.resulthead {
  margin-top: 20px;
}

.resultp{
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  float: left;
  padding: 10px;

}

.aboutus{
  border: 1px solid black;
  border-radius: 10px;
  width: 240px;
  height: 340px;
  float: right;
  padding: 10px;
}
