.q1 {
}

.questionOne {
  font-size: 28px;
  font-style: italic;
  color: blue;
}

.q2 {
}

.questionTwo {
  font-size: 28px;
  font-style: italic;
  color: blue;
}

.q3 {
}

.questionThree {
  font-size: 28px;
  font-style: italic;
  color: blue;
}

.q4 {
}

.questionFour {
  font-size: 28px;
  font-style: italic;
  color: blue;
}

.q5 {
}

.questionFive {
  font-size: 28px;
  font-style: italic;
  color: blue;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 20px;
}

.btn {
  padding: 30px;
  font-size: 30px;
  padding-bottom: 30px;
  height: 150px;
  width: 150px;
  justify-content: center;
  border-radius: 50%;
  border: transparent;
  outline: none;
}

/* button highlight on click */
.active{
  background-color: #00ff00;
}

.wrongActive {
  background-color: #ff0000;
}

.img {
  margin-left: -20px;
  margin-right: auto;
}


#countdown {
  font-size: 30px;
}

.moneysign {
  font-size: 30px;
}

.next{
  font-size: 30px;
  border-radius: 18px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
}
